// 暗雅
.layout-theme-default {
  --menu-bg: #001529;
  --menu-active-bg: #4091f7;
  --menu-hover-bg: #4091f7;
  --menu-text-color: rgba(154, 154, 154, 0.9);
  --menu-active-text-color: #fff;
  --menu-hover-text-color: #fff;
  --menu-active-border-color: #fff;
  --submenu-bg: #0f0303;
  --nav-bg: #fff;
  --nav-text-color: #79798b;
  --nav-hover-text-color: #404040;
  --sidebar-logo-bg: #002140;
  --sidebar-logo-text-color: #1890ff;
  --icon-background: #f6f6f6;
  --icon-hover-text-color: #2e2c2c;
}
