// 明亮
.layout-theme-light {
  --menu-bg: #fff;
  --menu-active-bg: #e0ebf6;
  --menu-hover-bg: #e0ebf6;
  --menu-text-color: #434da1;
  --menu-active-text-color: #409eff;
  --menu-hover-text-color: #409eff;
  --menu-active-border-color: #406eff;
  --submenu-bg: #fff;
  --nav-bg: #fff;
  --nav-text-color: #79798b;
  --nav-hover-text-color: #404040;
  --sidebar-logo-bg: #fff;
  --sidebar-logo-text-color: #1890ff;
  --icon-background: #f6f6f6;
  --icon-hover-text-color: #2e2c2c;
}
